{% extends  'base/navbar.html' %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% block content %}



<h1> Ups! parace que algo salio mal.
</h1>




{% if form.errors %}
<p>Por favor ten en cuenta las siguientes recomendaciones e ingresa nuevamente a la página</p>

{{ form.errors}}


{% else %}
<p>Ingrsa nuevamente a la página y llena tu información de nuevo</p>
{% endif %}

<a class="btn btn-primary" href="{% url 'info_personal' %}">Regresar</a>

{% endblock%}