{% extends  'base/navbar.html' %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% block content %}


<form method="POST" id="personaForm">
{% csrf_token %}   


        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Información personal</h4>
                </div>
                <div class="card-body">
                <!--inicio del cardbody-->
                    <div class="row col-md-12">

                        <div class="col-md-3 form-group">
                            <label>Identificación</label>
                           <label class="form-control" style="background: #fff"> {{personaOtros.identificacion}}</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Fecha de nacimiento</label>
                            <label class="form-control" style="background: #fff">{{personaOtros.fechaNacimiento}}</label>
                        </div>

                        <div class="col-md-3 form-group">
                                <label>genero</label>
                                <label class="form-control" style="background: #fff">{{personaOtros.genero}}</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Nombres</label>
                            <label class="form-control" style="background: #fff">{{personaOtros.nombres}}</label>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                            <label>Apellidos</label>
                            <label class="form-control" style="background: #fff">{{personaOtros.apellidos}}</label>
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Programa</label>
                            <label class="form-control" style="background: #fff">{{personaOtros.programa}}</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Fecha de grado</label>
                            <label class="form-control" style="background: #fff">{{personaOtros.fechaGrado}}</label>
                        </div>
                    </div>


                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                           <label>Estado civil</label>
                            {{form.estado_civil}}
                        </div>


                        <div class="col-md-4 form-group">
                            <label>Dirección de residencia</label>
                           {{form.direccionResidencia}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Ciudad</label>
                            {{form.ciudad}}
                        </div>
                    </div>  

                
                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                            <label>Departamento</label>
                            {{form.departamento}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Pais</label>
                            {{form.pais}}
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Teléfono fijo</label>
                            {{form.telefonoFijo}}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                            <label>Celular</label>
                            {{form.celular}}
                        </div>

                        <div class="col-md-4 form-group">
                          <label>Email 1</label>
                            {{form.email1}}
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Email 2</label>
                            {{form.email2}}
                        </div>
                    </div>
                <!-- fin del card body-->
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Información académica</h4>
                </div>
                <div class="card-body">
                <!--inicio del cardbody-->      
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><strong>Título obtenido</strong></th>
                                    <th><strong>Institución</strong></th>
                                    <th><strong>Año de graduación</strong></th>
                                    <th><strong>Nivel de educación formal</strong></th>
                                    <th><strong></strong></th>
                                </tr>
                            </thead>
                            <tbody class="aux">
                              
                                {% if titulosPersona %}
                                {% for curso in titulosPersona %}
                                <tr id="ocultar{{curso.id}}">
                                    <div>
                                        <td>
                                            {{curso.titulo_obtenido}}
                                        </td>
                                        <td>
                                            {{curso.institucion}}
                                        </td>

                                        <td>
                                        {{curso.anioGraduacion}}
                                        </td>
                                        <td>
                                            {{curso.nivel_educacion_formal}}
                                        </td>
                                        <td>
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-sm" onclick="eliminarTitulo({{curso.id}})" >
                                                    <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </div>
                                </tr>
                    {% endfor %}
                    {% endif %}
                             
                            </tbody>
                        </table>
                    </div>

                      <!-- Button trigger modal -->
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Agregar estudio
                            </button>
                        </div>
                <!--fin del cardbody-->
                </div>
            </div>
        </div>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar estudio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- AQUI VA EL CUERPO DEL FORMULARIO -->
                <form2 method="POST" id="estudio">
                    
                    {{degreeForm}}

                    <!-- falta el submit -->
                    <!-- <input id='enviarAjax' type="submit"> -->
                </form2>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"  id='enviarAjax' form="">Save changes</button>
                </div>
              </div>
            </div>
          </div>



        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Información laboral</h4>
                </div>
                <div class="card-body">
                    <div class="row col-md-12 ">    
                        <div class="col-md-4 form-group">
                            <label>{{form.situacion_laboral_actual.label}}</label>
                            {{form.situacion_laboral_actual}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{form.experiencia_laboral.label}}</label>
                            {{form.experiencia_laboral}}
                        </div>

                        <div class="col-md-4 form-group">
                          <label>{{form.nombreEmpresaTrabajoActual.label}}</label>
                            {{form.nombreEmpresaTrabajoActual}}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                            <label>{{form.sectorDeLaEmpresa.label}}</label>
                            {{form.sectorDeLaEmpresa}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{form.areaDeTrabajo.label}}</label>
                            {{form.areaDeTrabajo}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{form.cargoQueOcupa.label}}</label>
                            <p>{{form.cargoQueOcupa}}</p>
                        </div>
                    </div>
                    <div class="row col-md-12">
                            <div class="col-md-4">
                                {{form.otroSectorEmpresa}}
                            </div>
                            <div class="col-md-4">
                                {{form.otraAreaDetrabajo}}
                             </div>
                            <div class="col-md-4">
                                {{form.otroCargo}}
                            </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 form-group">
                            <label>{{form.nombreJefeInmediato.label}}</label>
                            {{form.nombreJefeInmediato}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{form.areaTrabajoAfinConSuProfesion.label}}</label>
                            {{form.areaTrabajoAfinConSuProfesion}}
                        </div>

                        <div class="col-md-4 form-group">
                            <label>{{form.tipoDeContrato.label}}</label>
                            {{form.tipoDeContrato}}
                        </div>
                    </div>
                    <div class="row col-md-12"> 
                        <div class="col-md-4 form-group">

                        </div>
                        <div class="col-md-4 form-group">
                            <label>{{form.rangoSalarial.label}}</label>
                            {{form.rangoSalarial}}
                        </div>
                        <div class="col-md-4 form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ############################################################################## -->

        <div class="col-xs-12 form-group">
            <h1 class="titulo"><strong><center>Participación en comunidades y asociaciones</center></strong></strong></h1>
        </div>


        











        <div class="col-xs-4 form-group">
            <strong>Tipo de comunidad</strong>
        </div>
        <div class="col-xs-4 form-group">
            <strong>Nombre de la comunidad</strong>
        </div>

        <div class="col-xs-3 form-group">
            <strong>Ámbito</strong>
        </div>

        <div class="col-xs-1 form-group">

        </div>
        <div class="col-xs-12 form-group">
            <hr>
        </div>

        {% if titulosComunidades %}



        {% for curso in titulosComunidades %}
        <div class="col-xs-12">
        <div id="ocultarComunidad{{curso.id}}">
            <div class="col-xs-4 form-group">
                {{curso.tipoDeComunidad}}
            </div>
            <div class="col-xs-4 form-group">
                {{curso.nombreDeLaComunidad}}
            </div>

            <div class="col-xs-3 form-group">
            {{curso.ambitoParticipacion}}
            </div>

            <div class="col-xs-1">
            <a class="btn btn-danger btn-xs" id="tituloComunidades{{curso.id}}" onclick="eliminarTituloParticipaciones({{curso.id}})">
                Borrar
            </a>
            </div>

        </div>
        </div>

        {% endfor %}


        {% endif %}
        <div class="auxParticipaciones">

        </div>

        <div class="col-xs-12">
            <hr>
        </div>

          <!-- Button trigger modal -->
          <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#participacionComunidad">
        Agregar participación en comunidades
        </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="participacionComunidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar participación en comunidades</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- AQUI VA EL CUERPO DEL FORMULARIO -->
            <form3 method="POST" id="participacion">
                {% csrf_token %}
                {{participacionesForm}}

                <!-- falta el submit -->
                <!-- <input id='enviarAjax' type="submit"> -->
            </form3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  id='enviarAjaxParticipaciones'>Save changes</button>
            </div>
          </div>
        </div>
      </div>

        <!-- ############################################################################## -->



        <!-- ############################################################################## -->
        <div class="col-xs-12 form-group">
            <h1 class="titulo" ><strong><center>Distinciones y reconocimientos</center></strong></strong></h1>
        </div>


        <div class="col-xs-3 form-group">
            <strong>Nombre del reconocimiento</strong>
        </div>
        <div class="col-xs-3 form-group">
            <strong>Institución otorgante</strong>
        </div>

        <div class="col-xs-2 form-group">
            <strong>Fecha</strong>
        </div>
        <div class="col-xs-3 form-group">
            <strong>Ámbito</strong>
        </div>
        <div class="col-xs-1 form-group">

        </div>
        {% if reconocimientosPersona %}



        {% for curso in reconocimientosPersona %}
        <div class="col-xs-12">
        <div id="ocultarReconocimiento{{curso.id}}">
            <div class="col-xs-3 form-group">
                {{curso.titulo_obtenido_reconocimiento}}
            </div>
            <div class="col-xs-3 form-group">
                {{curso.institucionReconocimiento}}
            </div>

            <div class="col-xs-2 form-group">
            {{curso.anioReconocimiento}}
            </div>
            <div class="col-xs-3 form-group">
                {{curso.ambito}}
            </div>
            <div class="col-xs-1">
            <a class="btn btn-danger btn-xs" onclick="eliminarReconocimiento({{curso.id}})">
                Borrar
            </a>
            </div>

          </div>  
        </div>

        {% endfor %}

        



        {% endif %}

        <div class="auxReconocimiento">

        </div>

        <div class="col-xs-12">
                <hr>
            </div>

          <!-- Button trigger modal -->
          <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#distincion">
        Agregar distinción o reconocimiento
        </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="distincion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar distinción o reconocimiento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- AQUI VA EL CUERPO DEL FORMULARIO -->
            <form4 method="POST" id="distincion">
                {% csrf_token %}
                {{reconocimietosForm}}

                <!-- falta el submit -->
                <!-- <input id='enviarAjax' type="submit"> -->
            </form4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id='agregarReconocimientoAjax'>Save changes</button>
            </div>
          </div>
        </div>
      </div>


        <!-- ############################################################################## -->

        <!-- ############################################################################## -->
        <div class="col-xs-12 form-group">
            <h1 class="titulo"><strong><center>Publicaciones</center></strong></strong></h1>
        </div>
        <div class="col-xs-4 form-group">
            <strong>Título de la publicación</strong>
        </div>
        <div class="col-xs-3 form-group">
            <strong>Fecha de publicación</strong>
        </div>

        <div class="col-xs-4 form-group">
            <strong>Tipo de publicación</strong>
        </div>
        <!-- <div class="col-xs-3 form-group">
            <strong>Ámbito</strong>
        </div> -->
        <div class="col-xs-1 form-group">

        </div>
        {% if publicacionesPersona %}



        {% for curso in publicacionesPersona %}
        <div id="ocultarPublicacion{{curso.id}}">
            <div class="col-xs-4 form-group">
                {{curso.titulo_publicacion}}
            </div>
            <div class="col-xs-3 form-group">
                {{curso.anio}}
            </div>

            <div class="col-xs-4 form-group">
                {{curso.tipo_publicacion}}
            </div>
            <div class="col-xs-1">
            <a class="btn btn-danger btn-xs" onclick="eliminarPublicacion({{curso.id}})">
                Borrar
            </a>
            </div>

            
        </div>

        {% endfor %}

       



        {% endif %}
        <div class="auxPublicacion">

        </div>
        <div class="col-xs-12">
                <hr>
            </div>



          <!-- Button trigger modal -->
          <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#publicaciones">
        Agregar publicación
        </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="publicaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar publicación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- AQUI VA EL CUERPO DEL FORMULARIO -->
            <form5 method="POST" id="publicacion">
                {% csrf_token %}
                {{publicacionesForm}}

                <!-- falta el submit -->
                <!-- <input id='enviarAjax' type="submit"> -->
            </form5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  id='guardarPublicacion'>Save changes</button>
            </div>
          </div>
        </div>
      </div>


        <!-- ############################################################################## -->

        <!-- ############################################################################## -->
        <div class="col-xs-12 form-group">
            <h1 class="titulo"><strong><center>Vinculación en la vida institucional</center></strong></strong></h1>
            <div class="col-xs-12 form-group">
                <div class="col-xs-6">
                <label>{{form.participacionActividadesUnimar.label}}</label>
                </div>
                <div class="col-xs-6">
                <label>{{form.serviciosDeInteres.label}}</label>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-6">
                {{form.participacionActividadesUnimar}}
                </div>
                <div class="col-xs-6">
                {{form.serviciosDeInteres}}
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-6">
                </div>
               
                <div class="col-xs-6">
                  
                            {{ form.otroServicio }}
                     
                </div>
            </div>


        </div>
        <div class="col-xs-12 form-group">
            <h1 class="titulo"><strong><center>Calidad de formación recibida</center></strong></strong></h1>
            {{form.procesoDeInformacionUnimar}}

        </div>


    </form>

<div class="col-xs-12">
        <button type="submit" form="personaForm" class="save btn btn-primary">Guardar información</button>
</div>




{% endblock %}

{% block javascript%}
	 <script>


        $(document).ready(function(){
            if($('#id_serviciosDeInteres').val() != "otro"){
                $('#fade2').val();
                $('#fade2').attr("readonly","readonly");
                $('#fade2').hide();
            }
            else{
                $('#fade2').attr("required","required");
                $('#fade2').show();
            }

            if($('#id_sectorDeLaEmpresa').val() != "otro"){
                $('#otroSector').val();
                $('#otroSector').attr("readonly","readonly");
                $('#otroSector').hide();
            }
            else{
                $('#otroSector').attr("required","required");
                $('#otroSector').show();
                $('#otroSector').focus();
            }

            if($('#id_areaDeTrabajo').val() != "otro"){
                $('#otraArea').val();
                $('#otraArea').attr("readonly","readonly");
                $('#otraArea').hide();
            }
            else{
                $('#otraArea').attr("required","required");
                $('#otraArea').show();
                $('#otraArea').focus();
            }

            if($('#id_cargoQueOcupa').val() != "otro"){
                $('#otroCargo').val();
                $('#otroCargo').attr("readonly","readonly");
                $('#otroCargo').hide();
            }
            else{
                $('#otroCargo').attr("required","required");
                $('#otroCargo').show();
                $('#otroCargo').focus();
            }







        });


	$(function(){
        //Obtenemos la información de csfrtoken que se almacena por cookies en el cliente
        var csrftoken = getCookie('csrftoken');

        //Agregamos en la configuración de la funcion $.ajax de Jquery lo siguiente:
        $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                                // Send the token to same-origin, relative URLs only.
                                // Send the token only if the method warrants CSRF protection
                                // Using the CSRFToken value acquired earlier
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
        });

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        // usando jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function csrfSafeMethod(method) {
            // estos métodos no requieren CSRF
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    });


        function eliminarTitulo(cursoId){
            var ed = {
                cursoId:cursoId
            };
            $.ajax({
                //url: "/guardarGradoAjax",
                url: "{% url 'borrar_titulo' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    $('#ocultar'+resp.id).hide();
                    console.log('id eliminado '+ resp.id);
                    }
            });

        }

        function eliminarTituloParticipaciones(cursoIdComunidades){
            var ed = {
                cursoId:cursoIdComunidades
            };
            console.log(cursoIdComunidades);
            $.ajax({
                //url: "/guardarGradoAjax",
                url: "{% url 'borrar_comunidad' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    $('#ocultarComunidad'+resp.id).hide();
                    console.log('id eliminado '+ resp.id);
                    }
            });

        }
        function eliminarReconocimiento(cursoIdComunidades){
            var ed = {
                cursoId:cursoIdComunidades
            };
            console.log(cursoIdComunidades);
            $.ajax({
                //url: "/guardarGradoAjax",
                url: "{% url 'borrar_reconocimiento' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    $('#ocultarReconocimiento'+resp.id).hide();
                    console.log('id eliminado '+ resp.id);
                    }
            });

        }
        function eliminarPublicacion(cursoIdComunidades){
            var ed = {
                cursoId:cursoIdComunidades
            };
            console.log(cursoIdComunidades);
            $.ajax({
                //url: "/guardarGradoAjax",
                url: "{% url 'borrar_publicacion' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    $('#ocultarPublicacion'+resp.id).hide();
                    console.log('id eliminado '+ resp.id);
                    }
            });

        }


        $('#enviarAjax').on('click', function(){
            var id_titulo_obtenido =  $('#id_titulo_obtenido').val();
            var id_institucion =  $('#id_institucion').val();
            var id_anioGraduacion =  $('#id_anioGraduacion').val();
            var id_nivel_educacion_formal =  $('#id_nivel_educacion_formal').val();

            if(id_titulo_obtenido != "" & id_institucion != "" & id_anioGraduacion != "" &id_nivel_educacion_formal != "" )
            {

                var ed = {
                    id_titulo_obtenido : id_titulo_obtenido,
                    id_institucion: id_institucion,
                    id_anioGraduacion: id_anioGraduacion,
                    id_nivel_educacion_formal: id_nivel_educacion_formal
                };

                $.ajax({
                    url: "{% url 'guardar_titulo' %}",
                    type: "POST",
                    data: ed,
                    cache:false,
                    dataType: "json",
                    success: function(resp){
                        var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                        var fechaSplit = id_anioGraduacion.split("-");
                        var html = `
                                <tr id="ocultar${resp.id}">
                                    <td>
                                    ${resp.id_titulo_obtenido}
                                    </td>
                                    <td>
                                    ${resp.id_institucion}
                                    </td>
                                    <td>
                                    ${fechaSplit[2]} de ${meses[fechaSplit[1]-1]} de ${fechaSplit[0]}
                                    </td>
                                    <td>
                                    ${resp.id_nivel_educacion_formal}
                                    </td>
                                    <td>  
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-sm" onclick="eliminarTitulo(${resp.id})" >
                                                    <i class="material-icons">close</i>
                                    </button>
                                    </td>

                                </tr>
                            `;
                           
                                $('#id_titulo_obtenido').val('');
                                $('#id_institucion').val('');
                                $('#id_anioGraduacion').val('');
                                $('#id_nivel_educacion_formal').val('');
                                $('#exampleModal').modal('toggle');
                            
                    document.querySelector('.aux').innerHTML += html;
                    //var a = json_loads(resp)

                    //console.log(a);
                        }
                    });
                    //Fin de la peticion AJAX

                }
                else{
                    alert("Por favor llena todos los campos");
                }
            });

        $('#enviarAjaxParticipaciones').on('click',function(){
            

            var id_tipoDeComunidad =  $('#id_tipoDeComunidad').val();
            var id_nombreDeLaComunidad =  $('#id_nombreDeLaComunidad').val();
            var id_ambito =  $('#id_ambitoParticipacion').val();
            
            if(id_tipoDeComunidad != "" && id_nombreDeLaComunidad != "" && id_ambito != ""){


            var ed = {
                id_tipoDeComunidad : id_tipoDeComunidad,
                id_nombreDeLaComunidad: id_nombreDeLaComunidad,
                id_ambito: id_ambito
            };

            $.ajax({
                    url: "{% url 'guardar_participacion' %}",
                    type: "POST",
                    data: ed,
                    cache:false,
                    dataType: "json",
                    success: function(resp){
                        
                        var html = `
                                <div class='col-xs-12'>
                                    <div id="ocultarComunidad${resp.id}">
                                        <div class="col-xs-4 form-group">
                                                ${resp.id_tipoDeComunidad}
                                        </div>
                                        <div class="col-xs-4 form-group">
                                                ${resp.id_nombreDeLaComunidad}
                                        </div>

                                        <div class="col-xs-3 form-group">
                                                ${resp.id_ambito}
                                        </div>

                                        <div class="col-xs-1">
                                            <a class="btn btn-danger btn-xs" id="tituloComunidades${resp.id}" onclick="eliminarTituloParticipaciones(${resp.id})">
                                                Borrar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            `;

                    document.querySelector('.auxParticipaciones').innerHTML += html;
                        $('#participacionComunidad').modal('toggle');
                        $('#id_tipoDeComunidad').val('');
                        $('#id_nombreDeLaComunidad').val('');
                        $('#id_ambitoParticipacion').val('');


                        }
                    });


            }
            else{
                alert("Por favor llene todos los campos")
            }

                });

        $('#agregarReconocimientoAjax').on('click', function(){
            var id_titulo_obtenido_reconocimiento =  $('#id_titulo_obtenido_reconocimiento').val();
            var id_institucionReconocimiento =  $('#id_institucionReconocimiento').val();
            var id_anioReconocimiento =  $('#id_anioReconocimiento').val();
            var id_ambito =  $('#id_ambito').val();

            if(id_titulo_obtenido_reconocimiento != "" && id_institucionReconocimiento != "" && id_anioReconocimiento != "" && id_ambito != ""){

            var ed = {
                id_titulo_obtenido_reconocimiento : id_titulo_obtenido_reconocimiento,
                id_institucionReconocimiento: id_institucionReconocimiento,
                id_anioReconocimiento: id_anioReconocimiento,
                id_ambito: id_ambito
            };

            $.ajax({
                url: "{% url 'guardar_reconocimiento' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                     var fechaSplit = id_anioReconocimiento.split("-");
                    var html = `
                            <div class="col-xs-12">
                                <div id="ocultarReconocimiento${resp.id}">
                                    <div class="col-xs-3 form-group">
                                            ${resp.id_titulo_obtenido_reconocimiento}
                                    </div>
                                    <div class="col-xs-3 form-group">
                                            ${resp.id_institucionReconocimiento}
                                    </div>

                                    <div class="col-xs-2 form-group">
                                             ${fechaSplit[2]} de ${meses[fechaSplit[1]-1]} de ${fechaSplit[0]}
                                    </div>
                                    <div class="col-xs-3 form-group">
                                            ${resp.id_ambito}
                                    </div>
                                    <div class="col-xs-1">
                                    <a class="btn btn-danger btn-xs" onclick="eliminarReconocimiento(${resp.id})">
                                        Borrar
                                    </a>
                                    </div>
                                </div>
                            </div>
                        `;

                document.querySelector('.auxReconocimiento').innerHTML += html;
                    $('#id_titulo_obtenido_reconocimiento').val();
                    $('#id_institucionReconocimiento').val('');
                    $('#id_anioReconocimiento').val('');
                    $('#id_ambito').val('');
                    $('#distincion').modal('toggle');
                    }
                   
            });

                }else{
                    alert("Por favor llene todos los campos");
                }

            });

        $('#guardarPublicacion').on('click', function(){
            var id_titulo_publicacion =  $('#id_titulo_publicacion').val();
            var id_anio =  $('#id_anio').val();
            var id_tipo_publicacion =  $('#id_tipo_publicacion').val();
            
            if(id_titulo_publicacion != "" && id_anio != "" && id_tipo_publicacion != ""){

            var ed = {
                id_titulo_publicacion : id_titulo_publicacion,
                id_anio: id_anio,
                id_tipo_publicacion: id_tipo_publicacion
            };

            $.ajax({
                url: "{% url 'guardar_publicacion' %}",
                type: "POST",
                data: ed,
                cache:false,
                dataType: "json",
                success: function(resp){
                    var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                     var fechaSplit = id_anio.split("-");
                    var html = `
                                <div id="ocultarPublicacion${resp.id}">
                                    <div class="col-xs-4 form-group">
                                            ${resp.id_titulo_publicacion}
                                    </div>
                                    <div class="col-xs-3 form-group">
                                             ${fechaSplit[2]} de ${meses[fechaSplit[1]-1]} de ${fechaSplit[0]}
                                    </div>

                                    <div class="col-xs-4 form-group">
                                            ${resp.id_tipo_publicacion}
                                    </div>
                                    <div class="col-xs-1">
                                    <a class="btn btn-danger btn-xs" onclick="eliminarPublicacion(${resp.id})">
                                        Borrar
                                    </a>
                                    </div>

                                    
                                </div>
                        `;

                document.querySelector('.auxPublicacion').innerHTML += html;
                  $('#id_titulo_publicacion').val('');
                    $('#id_anio').val('');
                    $('#id_tipo_publicacion').val('');
                    $('#publicaciones').modal('toggle');
                    }
                  
            });

        }
        else{
            alert("Por favor llene todos los campos");
        }
        });


        var sel2 = $('#id_serviciosDeInteres');
        sel2.click(function(){
           if(sel2.val() == "otro"){
                $('#fade2').removeAttr("readonly");
                $('#fade2').attr("required","required");
                $('#fade2').show();

           }else{
                $('#fade2').attr("readonly","readonly");
                $('#fade2').val('');
                $('#fade2').removeAttr("required");
                $('#fade2').hide();
           }
        });




        var sectorEmpresa = $('#id_sectorDeLaEmpresa');
        sectorEmpresa.click(function(){
           if(sectorEmpresa.val() == "otro"){
                $('#otroSector').removeAttr("readonly");
                $('#otroSector').attr("required","required");
                $('#otroSector').show();

           }else{
                $('#otroSector').attr("readonly","readonly");
                $('#otroSector').val('');
                $('#otroSector').removeAttr("required");
                $('#otroSector').hide();
           }
        });

        var sel4 = $('#id_areaDeTrabajo');
        sel4.click(function(){
           if(sel4.val() == "otro"){
                console.log("Otro fuè precionado");
                $('#otraArea').removeAttr("readonly");
                $('#otraArea').attr("required","required");
                $('#otraArea').show();

           }else{
                $('#otraArea').attr("readonly","readonly");
                $('#otraArea').val('');
                $('#otraArea').removeAttr("required");
                $('#otraArea').hide();
           }
        });

        var sel5 = $('#id_cargoQueOcupa');
        sel5.click(function(){
           if(sel5.val() == "otro"){
                console.log("Otro fuè precionado");
                $('#otroCargo').removeAttr("readonly");
                $('#otroCargo').attr("required","required");
                $('#otroCargo').show();

           }else{
                $('#otroCargo').attr("readonly","readonly");
                $('#otroCargo').val('');
                $('#otroCargo').removeAttr("required");
                $('#otroCargo').hide();
           }
        });


        

	</script>
	 {%endblock%}
