body {overflow-x:hidden;}

.card{
    margin-top: 5% !important;
}
/* .espacioArriba{
    margin-top: 4.65% !important;
    
} */


a.icon-block {
    display:inline-block;
    width:10em;
    float:left;
    text-align:center;
}




th{
    color: black;
   
    font-style: italic;
 
}

*{
    font-size: small;
}